@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@300;500;600;700;900&family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Header Background */
#header-bg {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
}

/* Header Name */
header {
    width: 100%;
    height: 320px;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 180px;
}

header >
h1 {
    color: #F0F8FF;

    font-size: 55px;
    line-height: 67px;

    text-align: center;
}

#profession {
    color: rgba(240, 248, 255, 0.7);;

    font-size: 36px;
    line-height: 47px;

    font-weight: 300;
}

/* Navigation Bar */
nav {
    position: fixed;

    width: 100%;
    top: 0px;

    padding: 28px 0px;

    z-index: 3;
}

nav >
ul {
    display: flex;
}

nav >
ul >
li {
    width: 100%;

    color: #F0F8FF;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

nav ul li a:hover {
    color: rgb(34, 24, 24);
    transition-duration: .4s;
}

nav ul li a {
    transition-duration: .4s;
}

.nav-txt:hover {
    transform: translateY(20px);    
}


/* Profile Picture */
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(142px);
}

.profile-pict-wrapper {
    width: 270px;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: #F0F8FF;
}

#profile-pict {
    width: 240px;
    height: 240px;

    border-radius: 500px;

    background: linear-gradient(to right, #2E4975, #F0F8FF);

    z-index: 2;
}

/* About Me */
.socmed-icon {
    width: 40px;
    height: 40px;

    transition-duration: 0.5s;
}

.socmed-icon:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.socmed-icon:active {
    transform: scale(1.05);
}

.about-me-wrapper {
    width: 100%;
    height: 695px;
    padding-top: 78px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F0F8FF;
    color: #030824;
}

/* Left Side About Me */
.about-me-first {
    width: 586px;
    height: 352px;
    margin-left: 75px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-me-first >
h2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    
    letter-spacing: 0.18em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me-first >
h2::after {
    content: "";
    width: 98px;
    height: 8px;
    margin-left: 11px;
    margin-top: 12px;

    background-color: #DF3143;
}

.about-me-first >
h5 {
    width: 586px;
    height: 189px;

    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.06em;
}

/* Right Side About Me */
.about-me-last {
    width: 259px;
    height: 352px;
    margin-right: 248px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.socmed-icon-wrapper {
    width: 100%;
    height: 20%;

    margin: 14px;

    display: flex;
    justify-content: flex-start;
}

.socmed-icon-wrapper a:nth-child(2) {
    margin: 0px 22px;
}

#cv-download {
    width: 80%;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 22px;

    letter-spacing: 0.06em;

    color: #BBC8DD;
    background: linear-gradient(270deg, 
        #2E4975 0%, rgba(46, 73, 117, 0.593221) 85.42%, 
        rgba(46, 73, 117, 0.34375) 99.97%, 
        rgba(46, 73, 117, 0) 99.98%, 
        rgba(46, 73, 117, 0.34375) 99.99%);
    box-shadow: inset 0 0 0 0 #BBC8DD;
    transition: ease-out 0.3s;
    border-radius: 16px;
}

#cv-download:hover {
    color: #030824;
    box-shadow: inset 240px 0 0 0 #BBC8DD;
}

/* Education */
.education-experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: #FFFFFF;
    background-color: #2E4975;
}

.titles-edu-exp-wrapper {
    width: 100%;
    padding: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #BBC8DD;

    border-top: 3px solid #F0F8FF;
    border-bottom: 3px solid #F0F8FF;
}

.titles-edu-exp-wrapper >
h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;

    letter-spacing: 0.18em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titles-edu-exp-wrapper::after,
.titles-edu-exp-wrapper::before {
    content: "";
    width: 68px;
    height: 8px;

    background-color: #5C010B;
}

.titles-edu-exp-wrapper::after {
    margin-left: 12px;
}

.titles-edu-exp-wrapper::before {
    margin-right: 22px;
}

/* Education Content */
.edu-exp-content-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0;
}

.year-edu-exp {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 28px;

    text-align: right;
    letter-spacing: 0.1em;
}

.school-type {
    font-family: Hind;
    font-size: 24px;
    font-weight: normal;

    text-align: right;
    letter-spacing: 0.2em;
}

.edu-left-wrapper {
    width: 270px;

    text-align: right;

    border: 1px solid pink;
}

.edu-right-wrapper {
    width: 561px;
    height: 451px;

    font-family: PT Sans;
    font-size: 18px;
    letter-spacing: 0.12em;

    border: 1px solid red;
}

/* Experience Content */
.exp-left-wrapper {
    width: 195px;
    height: 1473px;

    border: 1px solid red;
}

.exp-right-wrapper {
    width: 631px;
    height: 1717px;
    border: 1px solid violet;
}

.footer-exp {
    color: #F0F8FF;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 900;
}