@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@300;500;700&family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Header Background */
#header-bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

/* Header Name */
header {
    width: 100%;
    height: 320px;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header >
h1 {
    color: #F0F8FF;

    font-size: 55px;
    line-height: 67px;

    text-align: center;
}

#profession {
    color: rgba(240, 248, 255, 0.7);;

    font-size: 36px;
    line-height: 47px;

    font-weight: 300;
}

/* Navigation Bar */
nav {
    padding: 28px 0px;    
}

nav >
ul {
    display: flex;
}

nav >
ul >
li {
    width: 100%;

    color: #F0F8FF;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

/* Profile Picture */
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pict-wrapper {
    width: 270px;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: #F0F8FF;
}

#profile-pict {
    width: 240px;
    height: 240px;

    border-radius: 500px;

    background: linear-gradient(to right, #2E4975, #F0F8FF);

    z-index: 2;
}

/* About Me */
.socmed-icon {
    width: 46px;
    height: 46px;
}

.about-me-wrapper {
    width: 100%;
    height: 400px;

    background-color: #F0F8FF;
    color: #030824;

    transform: translateY(-160px);
}